input {
  padding: 0.5rem 2rem;
}

h2 {
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
}

.input-text {
  margin-bottom: 1rem;
  font-weight: bold;
}

.btn input {
  background-color: #0282f9;
  color: white;
  font-weight: bold;
  border: none;
}